.btn-background{
    background-color: rgba(250, 180, 16, 0.934);
}

.color-orange{

    color: rgba(250, 180, 16, 0.934);
}

.btn-border{
    border-color: rgba(250, 180, 16, 0.934);
}


.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
    float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow-wrap: normal;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 999;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.hide-main{
    display: none;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.d-flex{
    display: flex;
}
.min-4{
    min-height: 25vh;
}
@media screen and (max-width: 360px) {
    .table-order{
        width: 100px;
    }
}
@media screen and (max-width: 1200px) {
    .hide-main{
        display: inline-block;
    }
}

@media screen and (min-width: 770px) {
  .search-bar-container{
    display: none;
  }
}




header .search-bar-container{
  position: absolute;
  top:100%; left: 0; right: 0;
  padding:.5rem 1rem;
  background:#f8d95e;
  border-top: .1rem solid rgba(255,255,255,.2);
  display: flex;
  align-items: center;
  z-index: 999999;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: .3s all;
}

header .search-bar-container.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 999999;
}

header .search-bar-container #search-bar{
  width:50%;
  padding: .5rem;
  text-transform: none;
  color:#333;
  font-size: 1rem;
  border-radius: .5rem;
  margin-left: 10%;
  margin-right: 10%;
}

header .search-bar-container label{
  color:#fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label:hover{
  color:var(--orange);
}
.search-result-container{
  position: fixed;
  top: 100vh;
   left: 0;
  z-index: 100;
  width:50%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out;
  margin-left: 25%;
  margin-right: 25%;
}
.toggle-search{
  position: fixed;
  top: -100vh;
  width: 100%;
  transition: .3s ease-in-out;
}
.toggle-search.active{
  top: 0;
  height: 100vh;
  left: 0;
  z-index: 100;
}


.search-result-container.active{
  top: 120px;
  z-index: 11100;
}
.result{
  cursor: pointer;
  text-align: center;
  width:100%;
  padding: .5rem;
  text-transform: none;
  color:#000;
  font-size: 1rem;
  background: #fff;
  border-bottom: 1px solid lightgray;
}


.search-click {
  border: 1px solid #844242;
  outline: none;
  background-size: 12px;
  background-position: 13px;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  padding: 5px;
  transition: all 0.5s;
}
.search-click:focus {
  width: 200px;
  padding-left: 50px;
}
.search-click {
  position: relative;
  overflow: hidden;
  height: 50px;
}
.search-click input {
  background: transparent;
  border: 1px solid #a73131;
  outline: none;
  position: absolute;
  width: 50px;
  height: 30px;
  left: 0%;
  padding: 10px;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  color: green;
  min-width: 50px;
  text-align: center;
}

.input-field {

  text-align: center;
}

h2 {

}



/* search */
.searchbar{
  position:relative;
  min-width:50px;
  width:0%;
  height:50px;
  float:right;
  overflow:hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}
.searchbar-input{
  top: 0;
  right: 0;
  border: 0;
  outline: 0;
  background: #f3f1f4;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0px 55px 0px 20px;
  font-size: 20px;
  color: #080606;
}
.searchbar-input::-webkit-input-placeholder {
  color: #484444;
}
.searchbar-input:-moz-placeholder {
  color: #fff;
}
.searchbar-input::-moz-placeholder {
  color: #fff;
}
.searchbar-input:-ms-input-placeholder {
  color: #fff;
}
.searchbar-icon,
.searchbar-submit{
  width:50px;
  height:50px;
  display:block;
  position:absolute;
  top:0;
  font-family:verdana;
  font-size:22px;
  right:0;
  padding:0;
  margin:0;
  border:0;
  outline:0;
  line-height:50px;
  text-align:center;
  cursor:pointer;
  color:#1a1814;
  background:#ede9f3;
  border-left: 1px solid white;
}
.searchbar-open{
  width:100%;
}
.h-48{
    height: 48%;
}
.overflow-hide{
    overflow: hidden;

}
.gradient-custom{
    background: linear-gradient(to left, #0821ac, #04337977 50%, #143c8542 75%, #000f5000 100%);
}
.back-drop-blur{
    backdrop-filter: blur(1vh);
}
.container-paginate{
    width: 100%;
    /* background-color: #0821ac; */
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
}
.container-paginate button{
    padding-left: 1rem;
    padding-right: 1rem;

}
.container-paginate button.active{
    background-color: yellow;
    border-radius: 0.5rem;
}
.bg-transparent-black{
    background-color: #0000003d;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: start;
}
.flex{
    display: flex;
}
.h-moyen{
    height: 45rem;
    /* max-height: 60%; */
}
.bg-red{
    background-color: red;
}

/* search 2 */
.modal-header {
  border-bottom: none;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-backdrop {
background-color:#fff;
  opacity:1!important;
    border: 10px solid rgba(136, 136, 136, .4);
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background: none;
  box-shadow: none;
}

.modal-body {
  text-align: center;
}

.modal-body form {
  margin: 0 auto;
  float: none;
  width: 300px;
}

.modal-content .close {
  opacity: 1;
  font-size: 30px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
}
