.btn-background{
    background-color: rgba(250, 180, 16, 0.934);
}

.color-orange{

    color: rgba(250, 180, 16, 0.934);
}

.btn-border{
    border-color: rgba(250, 180, 16, 0.934);
}


@media screen and (max-width: 360px) {
    .table-order{
        width: 100px;
    }
}